// app global css in SCSS form

// declare a class which applies it
.box-1{
    height: 100%;
    width: 100%;
    background-color: $accent;
}
.box-2{
    height: 100%;
    width: 100%;
    background-color: $accent;
    display: flex;
    justify-content: center;
}
.box-3{
    height: 100%;
    width: 100%;
    padding: 8%;
    background-image: url("~assets/background.jpg");
}
.body-app {
    height: 100%;
    margin: 0;
    width: 100%;
}
.index-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  cursor: pointer;
}
.index-left {
  font-size: 1.2em;
  font-weight: 700;
  color: #061033;
}
.index-right {
  color: #061033;
  font-size: 3.5em;
  line-height: 1.3em;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
}
.index-tittle {
  color: #061033;
  font-size: 20px;
  font-family: 'Nosifer', cursive;
  line-height: 1.2em;
}
.transition {
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}
.work-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.parent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-top: 5%;
  }
  
.my-card{
    width: 100%;
    max-width: 300px;
    height: 20%;
    margin: 0 5% 0 0;
  }
.about-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding-top: 5%;
    font-family: 'Pacifico', cursive;
}
.about-left {
    font-size: 3vw;
    font-weight: 400;
    flex: 1 0 33%;
    margin: 2%;
}
.about-right {
    font-size: 3vw;
    font-weight: 400;
    flex: 1 0 33%;
    margin: 2%;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
  .container {
    height: 300vh;
  }
  
  .img-container {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    position: relative;
    top: 60vh;
    background: #ffe6c5;
    width: 450px;
    height: 600px;
    margin: 15px 0;
    padding: 15px;
    overflow: hidden;
  }
  
  .phone {
    position: relative;
    left: 20px;
    transform: scale(1);
  }
  
  #trigger {
    position: absolute;
    top: 25vh;
  }
  .wherex-parent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .wherex-child {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: -moz-available;
    margin-top: 3%;
    height: 25vh;
  }
  .wherex-child-left {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .wherex-child-right {
    flex: 2;
}
.wherex-child-text {
    align-self: center;
}

.citiapps-child {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: -moz-available;
    margin-top: 3%;
    height: 20vh;
  }
  
code {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    color: rgb(39, 52, 96);
    position: relative;
    text-decoration: none;
    display: inline-block;
    font-family: 'Amatic SC';
    font-size: calc(0.1em + 1vw);
  }

.sub-right {
  font-weight: 400;
  line-height: 19.2px;
  color: rgb(39, 52, 96);
  line-height: 5vh;
  font-family: 'Amatic SC';
}

.mama {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  box-shadow: 0px 0px 0px 8px #3DFFBE;
  color :#061033;
}

.child {
  grid-area: 1 / 2 / 1 / 2;

}
.child2 {
  margin-top: 9.5vw;
  margin-left: -40.40vw;
  width: 59vw;
}
.child3 {
  margin-top: 23vw;
  margin-left: -18vh;
  width: 23vh;
}
.q-tab__label {
  color: #061033;
  font-size: 1em;
  line-height: 1.375em;
  font-weight: 700;
}
.q-tab {
  text-transform: none;
}
.content-logo img{
  width: 41vw;
  height: 56vh;
  object-fit: contain;
}
.tia {
  height: 43vh;
  margin: 11vw 50vw;
}
.work-style {
  display: flex;

  box-shadow: 0px 0px 0px 8px #3DFFBE;
  color :#061033;
  width: max-content;
  height: 43vh;
}
.child-3-img {
  margin-top: 10%;
  margin-left: -38%;
  width: inherit;
}
.child-2-img {
 grid-area: 2/2/2/1;
}
.child-img {
  grid-area: 2/2/2/2;
}

// imagen
.child-3-img-right {
  margin-top: 4vw;
  margin-left: -37vh;
}

.index-top{
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  color: rgb(39, 52, 96);
}
.body-container-img{
  display: grid;
  grid-template-columns: 200px 2fr 1fr;
}

.child-grid{
  background-color: #b4b8b9;
  border: 1px solid #ffffff;
  padding: 1rem;
  font-family: arial;
  color: white;
  text-align: center;
}
.grid-container {
  display: grid;
  //grid-template: repeat(4, [row] 1fr) / repeat(5, [col] 1fr);
  grid-template-columns: [col] 1fr [col] 1fr [col] 0.1fr [col] 1fr [col] 0.1fr;
  grid-template-rows: [row] 0.1fr [row] 0.1fr;
  cursor: pointer;
}
.item-1,
.item-2,
.item-3,
.item-4,
.item-5,
.item-6,
.item-7 {
  align-items: center;
  justify-items: center;
  font-size: 2em;
  font-weight: 400;
  line-height: 19.2px;
  color: rgb(39, 52, 96);
  line-height: 5vh;
  font-family: 'Amatic SC';
}
.item-1 {
  grid-column: col 2 / span 2;
  grid-row: row 1;
  display: grid;
  justify-content: flex-end;
  align-items: end;
  font-size: calc(4em + 12vw);
}

.item-2 {
  grid-column: col 4 / span 3;
  grid-row: row 3 / span 2;
}

.item-3 {
  grid-column: col 1 / span 2;
  grid-row: row 2 / span 1;
  z-index: 1;
  opacity: 0.8;
}

.item-4 {
  grid-column: col 3 / span 2;
  grid-row: row 2 / span 3;
}

.item-5 {
  grid-column: col 1 / span 2;
  grid-row: row 3;
  display: flex;
  font-size: calc(3em + 2vw);
  justify-content: flex-start;
}

.item-6 {
  grid-column: col 3 / span 2;
  grid-row: row 2 / span 3;
}
.item-7 {
  grid-column: col 1 / span 2;
  grid-row: row 4 / span 2;
  font-size: calc(2em + 1vw);
  text-align: justify;
}


.grid-container-left {
  display: grid;
  //grid-template: repeat(4, [row] 1fr) / repeat(5, [col] 1fr);
  grid-template-columns: [col] 0.1fr [col] 1fr [col] 0.1fr [col] 1fr [col] 1fr;
  grid-template-rows: [row] 0.1fr [row] 0.1fr [row] 1fr;
  cursor: pointer;
}
.item-1-left,
.item-2-left,
.item-3-left,
.item-4-left,
.item-5-left,
.item-6-left,
.item-7-left {
  align-items: center;
  justify-items: center;
  font-size: 2em;
  font-weight: 400;
  line-height: 19.2px;
  color: rgb(39, 52, 96);
  line-height: 5vh;
  font-family: 'Amatic SC';
}
.item-1-left {
  grid-column: col 2 / span 2;
  grid-row: row 1;
  display: grid;
  justify-content: flex-start;
  align-items:flex-start;
  font-size: calc(4em + 12vw);
}

.item-2-left {
  grid-column: col 1 / span 3;
  grid-row: row 3 / span 2;
}

.item-3-left {
  grid-column: col 1 / span 2;
  grid-row: row 2 / span 1;
  z-index: 1;
  opacity: 0.8;
}

.item-4-left {
  grid-column: col 3 / span 2;
  grid-row: row 2 / span 3;
}

.item-5-left {
  grid-column: col 4 / span 1;
  grid-row: row 3;
  font-size: calc(1em + 1vw);

}

.item-6-left {
  grid-column: col 1 / span 2;
  grid-row: row 2 / span 3;
}
.item-7-left {
  grid-column: col 4 / span 2;
  grid-row: row 4 / span 2;
  font-size: calc(0.5em + 1vw);
  text-align: justify;
}
.example-item {
  height: 75vh;
  width: 40vw;
  padding-top: 5%;
}