// app global css in SCSS form
.box-1{
    height: 100%;
    width: 100%;
    background-color: $accent;
}
.box-2{
    height: 100%;
    width: 100%;
    background-color: $info;
}
.box-3{
    height: 100%;
    width: 100%;
    background-color: $warning;
}
.body-app {
    height: 100%;
    margin: 0;
    width: 100%;
}
.index-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #ffffff;
}
.index-left {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  text-transform: none;
  color: #273460;
}
.index-right {
  font-family: 'Raleway', sans-serif;
  color: #3DFFBE;;
  font-size: 2.5em;
  line-height: 1.2em;
  font-weight: 700;
  text-transform: none;

}
.transition {
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}
.work-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.parent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    padding-top: 5%;
  }
  
.my-card{
    width: 100%;
    max-width: 300px;
    height: 20%;
    margin: 0 5% 0 0;
  }
.about-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding-top: 5%;
}
.about-left {
    font-size: 3vw;
    font-weight: 400;
    flex: 1 0 33%;
    margin: 2%;
}
.about-right {
    font-size: 3vw;
    font-weight: 400;
    flex: 1 0 33%;
    margin: 2%;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
  .container {
    height: 300vh;
  }
  
  .img-container {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    position: relative;
    top: 60vh;
    background: #ffe6c5;
    width: 450px;
    height: 600px;
    margin: 15px 0;
    padding: 15px;
    overflow: hidden;
  }
  
  .phone {
    position: relative;
    left: 20px;
    transform: scale(1);
  }
  
  #trigger {
    position: absolute;
    top: 25vh;
  }
  .wherex-parent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .wherex-child {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: -moz-available;
    margin-top: 3%;
    height: 25vh;
  }
  .wherex-child-left {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .wherex-child-right {
    flex: 2;
}
.wherex-child-text {
    align-self: center;
}

.citiapps-child {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: -moz-available;
    margin-top: 3%;
    height: 20vh;
  }
  
/* HSL */
$color1: hsla(117%, 50%, 84%, 1);
$color2: hsla(114%, 15%, 75%, 1);
$color3: hsla(305%, 12%, 61%, 1);
$color4: hsla(327%, 19%, 45%, 1);
$color5: hsla(319%, 13%, 5%, 1);


code {
  padding: 5px 0px;
  font-weight: normal;
  text-transform: none;
  font-size: 1em;
}

.mama {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 150px 1fr;
  width: 27vw;
  height: 600px;
  margin: 12% 53%;
  box-shadow: 0px 0px 0px 8px #3DFFBE;
  color :#3DFFBE;
}

.child {
  grid-area: 1 / 1 / 2 / 2;
  opacity: 0.8;
  height: 150px;
  margin-top: -5.4vw;
  width: max-content;
  margin-left: -174%;
}
.child2 {
  margin-top: 9.5vw;
  margin-left: -39vw;
  width: 59vw;
}
.child3 {
  margin-top: 23vw;
  margin-left: -7vw;
  width: 10vw;
}