// app global css in SCSS form

// declare a class which applies it
.box-1{
    height: 100%;
    width: 100%;
    background-color: $accent;
}
.box-2{
    height: 100%;
    width: 100%;
    background-color: $accent;
}
.box-3{
    height: 100%;
    width: 100%;
    background-image: url("~assets/background.jpg");
}
.body-app {
    height: 100%;
    margin: 0;
    width: 100%;
}
.index-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.index-left {
  font-size: 1.2em;
  font-weight: 700;
  color: #061033;
}
.index-right {
  color: #061033;
  font-size: 3.5em;
  line-height: 1.3em;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
}
.index-tittle {
  color: #061033;
  font-size: 6em;
  font-family: 'Nosifer', cursive;
  line-height: 1.2em;
}
.transition {
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}
.work-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.parent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    padding-top: 5%;
  }
  
.my-card{
    width: 100%;
    max-width: 300px;
    height: 20%;
    margin: 0 5% 0 0;
  }
.about-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding-top: 5%;
    font-family: 'Pacifico', cursive;
}
.about-left {
    font-size: 3vw;
    font-weight: 400;
    flex: 1 0 33%;
    margin: 2%;
}
.about-right {
    font-size: 3vw;
    font-weight: 400;
    flex: 1 0 33%;
    margin: 2%;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
  .container {
    height: 300vh;
  }
  
  .img-container {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    position: relative;
    top: 60vh;
    background: #ffe6c5;
    width: 450px;
    height: 600px;
    margin: 15px 0;
    padding: 15px;
    overflow: hidden;
  }
  
  .phone {
    position: relative;
    left: 20px;
    transform: scale(1);
  }
  
  #trigger {
    position: absolute;
    top: 25vh;
  }
  .wherex-parent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .wherex-child {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: -moz-available;
    margin-top: 3%;
    height: 25vh;
  }
  .wherex-child-left {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .wherex-child-right {
    flex: 2;
}
.wherex-child-text {
    align-self: center;
}

.citiapps-child {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: -moz-available;
    margin-top: 3%;
    height: 20vh;
  }
  


code {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  color: rgb(39, 52, 96);
  margin-left: 5%;
}

.sub-right {
  font-size: 2em;
  font-weight: 400;
  line-height: 19.2px;
  color: rgb(39, 52, 96);
  width: 74vh;
  line-height: 5vh;
  font-family: 'Amatic SC';
}

.mama {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 150px 1fr;
  width: 27vw;
  height: 600px;
  margin: 7vw 58vw;
  box-shadow: 0px 0px 0px 8px #3DFFBE;
  color :#061033;
}

.child {
  grid-area: 1 / 1 / 2 / 2;
  opacity: 0.8;
  height: 150px;
  margin-top: -4.1vw;
  width: 63vw;
  margin-left: -10vw;
}
.child2 {
  margin-top: 9.5vw;
  margin-left: -40.40vw;
  width: 59vw;
}
.child3 {
  margin-top: 23vw;
  margin-left: -18vh;
  width: 23vh;
}
.q-tab__label {
  color: #061033;
  font-size: 1em;
  line-height: 1.375em;
  font-weight: 700;
}
.q-tab {
  text-transform: none;
}
.content-logo img{
  width: 41vw;
  height: 56vh;
  object-fit: contain;
}
.tia {
  width: 40vw;
  height: 43vh;
  margin: 11vw 50vw;
}
.work-style {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 150px 1fr;
  box-shadow: 0px 0px 0px 8px #3DFFBE;
  color :#061033;
  width: 40vw;
  height: 43vh;
}
.child-3-img {
  margin-top: 4vw;
  margin-left: -20vh;
}
.child-2-img {
  margin-top: 9.5vw;
  margin-left: -40.40vw;
  width: 40vw;
}
.child-img {
  margin-left: -20vw;
}
.index-top{
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  color: rgb(39, 52, 96);
}